
.menu-tab {
  display: block;
  float: left;
  width: 5em;
  height: 150px;
  padding: 5px;
}
h1{
  text-align: center;
}
.menu-container{
  width: fit-content;
  position: unset;
  margin-left: auto;
  margin-right: auto;
}